/**
 * Float Layout Activity
 **/

body {
  /*  box-sizing: border-box;*
    text-align: justify; */
    background:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    display: flex;
    flex-direction: column;
  }
  
.name{
    float: left;
    font-weight: bolder;
    font-size: 40px;
    font-style: normal;
    color: teal;
    text-align: left;
  /*  margin-left: 15px;*/
}
  
.container-1 {
    margin-top: 40px;
    /*padding:2px;*/
    position: relative;
    height:40px;
    /*width:73%;*/
    width:960px;
    margin-left: 264px;
    font-weight:lighter;
    text-align: center;
    }

.about{
    position: absolute;
    margin-left: 82%;
    width:4%;
    margin-top: 30px;
}


.portfolio{
    position: absolute;
    margin-left: 87%;
    width: 4%;
    margin-top: 30px;
}

.contact{
    position: absolute;
    margin-left: 94%;
    width: 4%;
    margin-top:30px;
}

.description{
    margin-left: 264px;
    margin-bottom: 0%;  
    margin: 0 auto;
   /* height:600px;
    width:72%;*/
    width:960px;
    color: black;
    background-color: #ffffff;
    flex: 1;
}

.bkcolor{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png");
}

.inputClass{
    font-size: 12pt;
    height: 20px;
    width:95%;
    margin-left: 10px;
}

.imgclass {
    float: left;
    margin-right: 10px;
}

.navhover a:hover {
color:red;
background-color: green;
}


footer{
    clear:both;
    flex-shrink: 0;
    height: 70px;
    width:100%;
    margin-top: 0%;
    padding: 0%;
    border: 0%;
    text-align: center;
    background-color: #666666;
}

hr {
    display: block;
   /* height: 1px;
   border: 0;*/
    border-top: 1px solid #cccccc;
 /*   margin: 1em 0;
    padding: 0; */
}

  